:root {
    --iconosize: 4;
    --letrasize: 3;
}

body {
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 200px 6em 4em 1fr;
    justify-items: center;
    align-items: center;
    gap: 0.5em;
}

#cv {
   font-size: calc(var(--letrasize)/3*2*1em);
   color: white;
   text-shadow: 3px 3px 6px black, 0px 0px 10px blue, 0px 0px 6px darkblue;
   grid-column: 1;
   grid-row: 1;
     
}

#cv:hover {
    text-shadow: 3px 3px 6px black, 0px 0px 15px blue, 0px 0px 10px darkblue;
}


#fotoperfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    grid-column: 1;
    grid-row: 2;
    display: block;
}

#fotoperfil:hover {
    width: 275px;
    height: 275px;
}

nav {
    height: calc(var(--iconosize)*1em + 2em);;
    grid-column: 1;
    grid-row: 3;
    justify-self: stretch;

   
   
}

#contenedor2 {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 3fr;
    grid-template-rows: 100px;
    justify-items: center;
    align-items: center;
  
}

.ul {
    margin: 0;
    padding: 0;
    list-style: none;
   
}



.itic {
    display: inline; 
    
    
}

.icono {
    
        font-size: calc(var(--iconosize)*1em - 1em);;
        color: gray;
       
}

#vacio1 {
    grid-column: 1;
   
}

#ico0 {
    margin: 0;
    
    grid-column: 2;
   
}

#vacio2 {
    grid-column: 3;
    
}

#ico1 {
    margin: 0;
    
    grid-column: 4;
    
}

#vacio3 {
    grid-column: 5;
    
}

#ico2 {
    margin: 0;
    
    grid-column: 6;
    
}

#vacio4 {
    grid-column: 7;
    
}

#ico3 {
    margin: 0;
    
    grid-column: 8;
   
}

#vacio5 {
    grid-column: 9;
   
}


li i:hover {
    font-size: calc(var(--iconosize)*1.5*1em);
    color: green;
    cursor: pointer;
   
}

#texto {
    vertical-align: middle;
    font-size: calc(var(--letrasize)/1.5*1em);;
   
}

article {
    display: table-cell;
    grid-column: 1;
    grid-row: 4;
}

section {
    grid-column: 1 / 9;
    grid-row: 5;
    font-size: 1.25em;
}


@media only screen and (min-width: 768px) {
    #cv {
        font-size: calc(var(--letrasize)* 1em);
    }

    nav {
        height: calc(var(--iconosize)*1em + 2em);
    }

    .icono {
        font-size: calc(var(--iconosize)*1em );
    }

    li i:hover {
        font-size: calc(var(--iconosize)*1em + 2em);
    }

    #texto {
        font-size: calc(var(--letrasize)/3*2*1em );
    }

}